*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* background: #ccdcfd; */
    font-family: sans-serif;
}
hr{
    height: 5px;
        background-color: orange;
        border: none;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: #ccdcfd; */
}
.hero .logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-left: 60px;
}
.hero .logo a span{
    font-size: 45px;
}
nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    background: #00001b;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 50px;
}
nav ul li a:hover{
    color: orange;
}
.details{
    margin-left: 40px;
    margin-top: 13%;
}
.details .static-txt{
    color: orange;
    font-size: 40px;
    font-weight: 400;
}
.details .dynamic-txt{
    margin-left: 70px;
    margin-top: 0;
    overflow: hidden;
}
.details .dynamic-txt li{
    color: orange;
    list-style: none;
    font-size: 35px;
    font-weight: 400px;
}
.details .dynamic-txt li span{
    position: relative;
    text-transform: capitalize;
}
.details .dynamic-txt li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    text-transform: capitalize;
    border-left: 2px solid orange;
    animation: typing 1.5s steps(10) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.details h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px; 
    margin-left: 80px;  
}
span{
    color: orange;

}
.details p{
    color: rgb(10, 4, 88);
    list-style: 22px;
    font-weight: bold;
}
.details a{
    background: orange;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bolder;
    color: #00001b;
    display: inline-block;
    margin: 50px 120px;
    border-radius: 5px;

}
.details a:hover{
    background: black;
    color: orange;
}
.image{
    width: 45%;
    height: 60%;
    position: absolute;
    bottom: 0;
    right: 80px;
    top: 200px;
    
}
.image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.footer .div1{
    float: left;
    margin: 100px 300px;
    padding: 20px 20px;
}
.div1 h2{
    font-weight: 20px;
    line-height: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.hr1{
    margin-top: 0;
    padding: 0;
    width: 200px;
    margin-left: 9px;
    height: 2px;
}
.div1 h3{
    margin: 7px 30px;
    font-family: monospace;
    font-size: 20px;
}
.footer .div2{
    float: left;
    margin: 100px -60px;
    padding: 20px 20px;
}
.div2 h2{
    font-weight: 20px;
    line-height: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.hr2{
    margin-top: 0;
    padding: 0;
    width: 320px;
    margin-left: 10px;
    height: 2px;
}
.div2 h3{
    margin: 7px 20px;
    font-family: monospace;
    font-size: 20px;
}
.footer .div3{
    float: left;
    margin: 100px 250px;
    padding: 20px 20px;
}
.div3 h2{
    font-weight: 20px;
    line-height: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.hr3{
    margin-top: 0;
    padding: 0;
    width: 200px;
    margin-left: 10px;
    height: 2px;
}
.div3 h3{
    margin: 7px 20px;
    font-family: monospace;
    font-size: 20px;
}
.footer-content{
   height: 400px;
   width: 100vw;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding-top: 40px;
   color: white;
   background: #00001b;
   margin-top: 300px;
   text-align: center;
   font-size: 20px;
}
.footer-content h3{
   margin-top: 10px ;
   margin-bottom: 50px;
   text-transform: capitalize;
   line-height: 5px;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 2rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: orange;
}
.footer-bottom{
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom span{
    text-transform: uppercase;
    font-weight: 300;
}